.comment {
    display: grid;
    grid-template-columns: 1fr 20px;
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    cursor: default;
}

.comment__controls {
    cursor: pointer;
}