.sidebar__container {
    /* width: 100%; */
    width: 320px;
    height: 100vh;
    position: fixed;
    /* background-color: #282b34; */
    background: var(--gohan);
    display: flex;
    flex-direction: column;
}

.sidebar__logo {
    height: 32px;
    display: flex;
    align-items: center;
    color: var(--piccolo);
    font-size: 20px;
    font-weight: bold;
    padding: 16px 24px;
    cursor: default;
}

.sidebar__logo img {
    height: 32px;
}

.sidebar__profile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--bulma);
}

.sidebar__profile-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: var(--gohan);
}

.sidebar__profile h3 {
    margin-bottom: 0;
}

.sidebar__profile__info {
    margin: 10px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sidebar__profile__info-item h6 {
    margin: 10px 0 0;
    color: var(--main-trunks);
}
.sidebar__profile__info-item:first-child {
    border-right: 1px solid var(--main-trunks);
}

.sidebar__profile__info-item:last-child {
    border-left: 1px solid var(--main-trunks);
}

.sidebar__create {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.sidebar__create__button {
    background: none;
    color: var(--main-trunks);
    border-radius: 8px;
    padding: 0.6em 1.2em;
    border: 1px solid transparent;
}

.sidebar__create__button:hover {
    border: 1px solid var(--piccolo);
}

.sidebar__controls {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 32px;
}

.sidebar__controls__nav {
    display: flex;
    flex-direction: column;
}

.sidebar__controls__logout {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar__controls__logout-separator {
    border: 1px solid var(--goku);
    margin: 0 24px 12px;
    border-radius: 8px;
}

.row__sidebar__container {
    display: none;
    width: 100%;
    height: 64px;
}

.row__sidebar__logo {
    height: 32px;
    display: flex;
    align-items: center;
    color: var(--piccolo);
    font-size: 20px;
    padding: 16px 24px;
    font-weight: bold;
}

.row__sidebar__logo img {
    height: 32px;
}

.row__sidebar__controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.row__sidebar__controls__nav {
    display: flex;
    padding: 0 8px;
}

.row__sidebar__create__button {
    background: none;
    color: var(--main-trunks);
    border-radius: 8px;
    padding: 0.6em 1.2em;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.row__sidebar__create__button:hover {
    border: 1px solid var(--piccolo);
}

@media (max-width: 1074px) {
    .sidebar__container {
        display: none;
    }

    .row__sidebar__container {
        display: flex;
        align-items: center;
    }
}
