.home {
    padding: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373535;
}

.home__content {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #686363;
    color: #daddec70;
    box-shadow: 0 4px 8px rgba(112, 115, 128, 0.15);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .home__content {
        width: 80%;
        max-width: 600px;
        font-size: 18px;
    }
}

.home__button {
    color: #FFFFFF;
}