.feed {
    padding: 24px;
}

.feed__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 32px; */
    row-gap: 32px;
    align-items: center;
    color: #000000;
}
