.settings {
    padding: 24px;
}

.settings__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.settings__container__left {
    display: flex;
    margin: auto 0;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px 24px;
    height: max-content;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 32px 32px -8px rgba(0, 0, 0, 0.08);
}

.settings__container__left__submit {
    margin-top: 16px;
}

.settings__container__right {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px 24px;
    height: max-content;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 32px 32px -8px rgba(0, 0, 0, 0.08);
}

.settings__container__right__submit {
    margin-top: 16px;
}

.settings__container__field {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.settings__container__field input {
    margin-top: 8px;
}