.feed__item__comment {
    width: 512px;
    height: 512px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feed__item__comment__scroll {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 6px;
    max-height: 480px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

.feed__item__comment__scroll::-webkit-scrollbar {
    display: none;
  }

.feed__item__comment__input {
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.feed__item {
    position: relative;
    padding: 16px 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 32px 32px -8px rgba(0, 0, 0, 0.08);
}

.feed__item__content {
    position: relative;
}

.feed__item__paperclip {
    position: absolute;
    width: 64px;
    rotate: 90deg;
    left: 240px;
    top: -32px;
}

.feed__item__image {
    width: 512px;
    height: 512px;
}

.feed__item__image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.feed__item__description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 512px;
}

.feed__item__description__controls {
    position: absolute;
    display: flex;
    left: 5px;
    top: 16px;
}

.feed__item__description__likes {
    position: absolute;
    display: flex;
    right: 5px;
    top: 16px;
    font-weight: bold;
}

.feed__item__description__controls-like {
    cursor: pointer;
}

.feed__item__description__controls-like img {
    height: 24px;
}

.feed__item__description__controls-comment {
    cursor: pointer;
    margin-left: 10px;
}

.feed__item__description__controls-comment img {
    height: 24px;
}

.feed__item__description__controls-delete {
    cursor: pointer;
    margin-left: 10px;
}

.feed__item__description__controls-delete img {
    height: 24px;
}

.feed__item__description__title {
    margin-top: 10px;
    line-height: 28px;
    font-size: 24px;
    text-align: center;
    font-family: Pacifico;
    width: 50%;
    min-height: 32px;
}