.post {
    padding: 24px;
}

.post__content__photo {
    width: 512px;
    height: 512px;
    background-color: #EBEBEB;
    margin: 0 auto;
}

.post__content__photo img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}